{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="/static/css/styley.css">

<style>
    body {
        background-color: rgb(209, 216, 222);
    }

    body h1, h3, p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-style: oblique;
    }
</style>

            <div class="row">
                        <div class="container">
                            <section class="container">
                                <h2>Our Products</h2>
                                <h4>We believe in our products which take us to a higher level.</h4>
                                <div class="section-divider"></div>
                                <div class="containerx">
                            
                                    <div class="contentx">
                                        <img src="/static/SNI.png" alt="SNI Logo" class="product-image">
                                        <h3>Super NEET India</h3>
                                        <p>
                                            Super NEET India gives both professional and aspiring guidance for NEET with proper tutorials and practice tests. Be part of Super NEET India and meet our talented teachers who will take you to the door of success.
                                        </p>
                                    </div>
                                    <div class="contentx">
                                        <img src="/static/KPI.jpg" alt="KPI Logo" class="product-image">
                                        <h3>Key Performance Indicator (KPI)</h3>
                                        <p>
                                            Key performance indicators (KPIs) refer to a set of quantifiable measurements used to gauge a company’s overall long-term performance. KPIs specifically help determine a company's strategic, financial, and operational achievements, especially compared to those of other businesses within the same sector.
                                        </p>
                                    </div>
                                    <div class="contentx">
                                        <img src="/static/LMS.png" alt="LMS Logo" class="product-image">
                                        <h3>Lead Management</h3>
                                        <p>
                                            Lead management is the process of capturing leads, tracking their activities and behavior, qualifying them, giving them constant attention to make them sales-ready, and then passing them on to the sales team.
                                        </p>
                                    </div>
                                </div>
                            
                                <div class="section-divider"></div>
                            
                                <div class="containerx">
                                    <div class="contentx">
                                        <img src="/static/SST.png" alt="SST Logo" class="product-image">
                                        <h3>Snipe Survey Tool (SST)</h3>
                                        <p>
                                            The Snipe Survey Tool (SST) allows you to collect valuable data through surveys and questionnaires, helping you gather insights and make informed decisions.
                                        </p>
                                    </div>
                                    <div class="contentx">
                                        <img src="/static/PMS.png" alt="PMS Logo" class="product-image">
                                        <h3>Snipe Assessment Tool</h3>
                                        <p>
                                            The Snipe Assessment Tool is designed to assess learning outcomes by providing students with targeted assessments to evaluate their knowledge and progress.
                                        </p>
                                    </div>
                                    <div class="contentx">
                                        <img src="/static/HRMS.png" alt="HRMS Logo" class="product-image">
                                        <h3>Human Resource Management (HRMS)</h3>
                                        <p>
                                            A Human Resource Management System (HRMS) is a software solution that helps businesses manage various HR functions efficiently and automate manual tasks, leading to increased productivity and efficiency.
                                        </p>
                                    </div>
                                </div>
                            </section>
                          
                     </div>




      <div class="copyright_section">
         <p class="copyright_text">Copyright 2023 All Right Reserved By Snipe Tech Pvt Ltd</p>
      </div>
   

{% endblock content %}