.containerx {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contentx {
  width: calc(33.33% - 20px); /* Adjust the width and margin as per your preference */
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.product-image {
  width: 100px; /* Adjust the width as per your preference */
  height: 100px; /* Adjust the height as per your preference */
}

@media (max-width: 768px) {
  .contentx {
    width: calc(50% - 20px); /* Adjust the width and margin as per your preference */
  }
}
