.containerxy {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contentxy {
    width: calc(33.33% - 20px); /* Adjust the width and margin as per your preference */
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
  }

  
  .service-image {
    width: 50px; /* Adjust the width as per your preference */
    height: 50px; /* Adjust the height as per your preference */
  }
  
  @media (max-width: 768px) {
    .contentxy {
      width: calc(50% - 20px); /* Adjust the width and margin as per your preference */
    }
  }
  