{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="/static/css/stylexy.css">

<style>
    body {
        background-color: rgb(209, 216, 222);
    }

    body  h3, p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-style: oblique;
    }

    body h1 {
        font-size: x-large;
    }

    body h6 {
        font-size: large;
    }
</style>

            <div class="row">
                        <div class="container">
                            <section>
                                <h1>Services</h1>
                                <h3>Next Generation Speed</h3>
                                <div class="section-divider"></div>
                                <h6>
                                    Software Application Development, Mobile Application Development, Software Application Testing Services, IOT, Data Analytics, Embedded Solutions, Hardware & Networking Services, Corporate Training, Digital Marketing, Security & Surveillance Access Management and HR Consulting Services.
                                </h6>
                            
                                <div class="section-divider"></div>
                            
                                <div class="containerxy">
                                    <div class="contentxy">
                                        <img class="service-image" src="/static/images/software.jpg" alt="">
                                        <h3>
                                            SOFTWARE DEVELOPMENT
                                        </h3>
                                        <p>
                                            We focus on understanding business requirements and effective application development for all sizes and complexities of businesses and organizations. Our constant endeavor is to use latest technologies and following industry best practices for building robust applications for our clients.
                                        </p>
                                    </div>
                                        <div class="contentxy">
                                        <img class="service-image" src="/static/images/IOT.png" alt="">
                                        <h3>
                                            INTERNET OF THINGS
                                        </h3>
                                        <p>
                                            The Internet of Things (IoT) is the inter-networking of physical devices, vehicles (also referred to as "connected devices" and "smart devices"), buildings, and other items embedded with electronics, software, sensors, actuators, and network connectivity which enable these objects to collect and exchange data.
                                        </p>
                                    </div>
                                        <div class="contentxy">
                                        <img class="service-image" src="/static/images/MA.png" alt="">
                                        <h3>
                                            MOBILE APPLICATION
                                        </h3>
                                        <p>
                                            Our team extends feature-rich mobile apps for iOS, Android and Windows Phone for information on the go. We develop apps for business, games, location tracking, social media and various other requirements. Our team of designers, developers and testers can help you from concept to final launch of your mobile application.
                                        </p>
                                    </div>
                                    <div class="section-divider"></div>
                                    <div class="contentxy">
                                        <img class="service-image" src="/static/images/TS.png" alt="">
                                        <h3>
                                            TESTING SERVICES
                                        </h3>
                                        <p>
                                            Our team of software application quality assurance experts and testers provides software testing as an independent service. Software testing is an essential part of our delivery process. We identify all the flaws, bugs and errors and debug them to deliver robust applications to our clients.
                                        </p>
                                    </div>
                                    <div class="contentxy">
                                        <img class="service-image" src="/static/images/DA.png" alt="">
                                        <h3>
                                            DATA ANALYTICS
                                        </h3>
                                        <p>
                                            Data analytics refers to qualitative and quantitative techniques and processes used to enhance productivity and business gain. Data is extracted and categorized to identify and analyze behavioral data and patterns, and techniques vary according to organizational requirements.   
                                        </p>
                                    </div>
                                    <div class="contentxy">
                                        <img class="service-image" src="/static/images/PM.png" alt="">
                                        <h3>
                                            PRODUCT MAINTENANCE
                                        </h3>
                                        <p>
                                            Our support and maintenance service is flexible just like our other service offerings, as per the complexities and needs of the project. From a need as small as allocating certain fixed number of hours for product or software maintenance per month, to a dedicated team working on your software maintenance and support for the entire contract period.
                                        </p>
                                    </div>
                                    <div class="section-divider"></div>
                                    <div class="contentxy">
                                        <img class="service-image" src="/static/images/HR.png" alt="">
                                        <h3>
                                            HR CONSULTING SERVICES
                                        </h3>
                                        <p>
                                            We are providing HR Consulting services like Recruitement support, Entity setup and Support, Startup support from hiring, technology support, Building MVP/MMP, Software architecture and Training staffs in Technical and Non-Technical. Our professionals are qualified in every specific domain to carry out the task with utmost quality.   
                                        </p>
                                    </div>
                                    <div class="contentxy">
                                        <img class="service-image" src="/static/images/SS.png" alt="">
                                        <h3>
                                            SECURITY & SURVEILLANCE
                                        </h3>
                                        <p>
                                            Surveillance is the monitoring of behavior, activities, or other changing information for the purpose of influencing, managing, directing, or protecting people. This can include observation from a distance by means of electronic equipment (such as closed circuit television (CCTV) cameras) or interception of electronically transmitted information (such as Internet traffic or phone calls).    
                                        </p>
                                    </div>
                                    <div class="contentxy">
                                        <img class="service-image" src="/static/images/CS.png" alt="">
                                        <h3>
                                            CYBER SECURITY & FORENSIC
                                        </h3>
                                        <p>
                                            A Cyber Security & Forensic organisation, has tied-up with Pas3CyberLabs from Mysuru - Vulnerability Assessment, Penetration Testing, Web Application Security Testing, Mobile Application Security Testing and Cyber Security Training. We Extract forensic data from computers, Uncover everything hidden inside a PC. Our Fraud Risk Management practice provides access to deep detection & prevention capabilities.    
                                        </p>
                                    </div>
                                </div>
                            </section>
                          
                     </div>


                     <div class="section-divider"></div>

      <div class="copyright_section">
         <p class="copyright_text">Copyright 2023 All Right Reserved By Snipe Tech Pvt Ltd</p>
      </div>
   

{% endblock content %}